.fblogin_button
{
  background: #3b5998;

    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.fblogin_button a
{
  color: #fff;
}
