<div style='float:right' class="fblogin_button">
  <a class="" href="#" onclick="fbLogin()" id="fbLink">

      <img src="{$modules_dir}facebooklogin/img/fb_ico.svg" alt=""> <span>Zaloguj przez Facebook</span>


  <!-- Facebook login or logout button -->
  </a>

</div>
